
[

  {emqttd_auth_http, [

    %% Variables: %u = username, %c = clientid, %a = ipaddress, %t = topic, host the ip of the emqtt server

    {super_req, [
      {method, post},
      {url, "http://localhost:8080/mqtt/superuser"},
      {params, [
        {username, "%u"},
        {clientid, "%c"}
      ]}
    ]},

    {auth_req, [
      {method, post},
      {url, "http://localhost:8080/mqtt/auth?host=172.16.7.14"},
      {params, [
        {clientid, "%c"},
        {username, "%u"},
        {password, "%P"}
      ]}
    ]},

    %% 'access' parameter: sub = 1, pub = 2

    {acl_req, [
      {method, post},
      {url, "http://localhost:8080/mqtt/acl"},
      {params, [
        {access,   "%A"},
        {username, "%u"},
        {clientid, "%c"},
        {ipaddr,   "%a"},
        {topic,    "%t"}
      ]}
    ]},

    {sub_req, [
      {method, post},
      {url, "http://localhost:7090/mqtt/sub"},
      {params, [
        {username, "%u"},
        {clientid, "%c"}
      ]}
    ]},

    {offline_req, [
      {method, post},
      {url, "localhost:7090/mqtt/offline?host=172.16.7.14"},
      {params, [
        {clientid, "%c"}
      ]}
    ]},

    {after_sub_req, [
      {method, post},
      {url, "localhost:7090/mqtt/aftersub"},
      {params, [
        {clientid, "%c"},
        {topics, "%o"}
      ]}
    ]}
  ]}

].

